<div flex layout="row" layout-align="center center">
    <md-card flex-xs="100" flex-sm="50" flex-md="30" flex-gt-md="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Register</span>
            </md-card-title-text>
        </md-card-title>
        <form name="registerForm">
            <md-card-content>
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input name="username" type="text" ng-model="$ctrl.user.Username" required md-minlength="3" ng-pattern="/^([A-Za-z0-9\._-])+$/"
                        aria-label="Username">
                    <div ng-messages="registerForm.username.$error" ng-show="registerForm.username.$dirty">
                        <div ng-message="required">Username is required!</div>
                        <div ng-message="minlength">Username's too short!</div>
                        <div ng-message="pattern">Username can contain letters, digits, underscore and dot</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input name="password" type="password" ng-model="$ctrl.user.Password" required minlength="3" aria-label="password">
                    <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$dirty">
                        <div ng-message="required">Password is required!</div>
                        <div ng-message="minlength">Password is too short!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Confirm Password</label>
                    <input name="confirmPassword" type="password" ng-model="$ctrl.user.ConfirmPassword" ng-pattern="\b{{$ctrl.user.Password}}\b" required
                        aria-label="Confirm Password">
                    <div ng-messages="registerForm.confirmPassword.$error" ng-show="registerForm.confirmPassword.$dirty">
                        <div ng-message="required">Password Confirmation is required!</div>
                        <div ng-message="pattern">Passwords do not match!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input name="name" type="text" ng-model="$ctrl.user.Name" required minlength="3" aria-label="name">
                    <div ng-messages="registerForm.name.$error" ng-show="registerForm.name.$dirty">
                        <div ng-message="required">Name is required!</div>
                        <div ng-message="minlength">Name is too short!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>E-mail</label>
                    <input name="email" type="email" ng-model="$ctrl.user.Email" required aria-label="E-mail" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                    <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$dirty">
                        <div ng-message-exp="['required', 'pattern']">Your email must look like an e-mail address.</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="start start">
                    <label class="input-label">Gender</label>
                    <span flex></span>
                    <md-radio-group ng-required="true" name="gender" ng-model="$ctrl.user.Gender" layout="row" layout-align="center center">
                        <md-radio-button ng-value="gender.value" ng-repeat="gender in $ctrl.genders" aria-label="{{gender.label}}">
                            {{gender.label}}
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <span>
                    <md-button ng-click="$ctrl.cancelRegister()">Cancel</md-button>
                    <md-button class="md-accent md-raised" ng-disabled="registerForm.$invalid" ng-click="$ctrl.submitRegister($ctrl.user)">Register</md-button>
                </span>
            </md-card-actions>
        </form>
    </md-card>
</div>